footer.footer.mt-6.pt-6.pb-6
  .content
    .container
      .columns.is-centered.is-multiline.is-mobile
        #link.column.is-6-mobile.is-3-tablet
          p.is-size-6
            strong FootVille
          p
            a(href="#new") New Collection 2021
          p
            a(href="women.html") New Kicks Women
        #link.column.is-4-mobile.is-2-tablet
          p.is-size-6
            strong Explore
          p
            a(href="index.html") Home
          p
            a(href="#featured") Featured
          p
            a(href="shop.html") Shop
          p
            a(href="women.html") Women
        #link.column.is-6-mobile.is-2-tablet
          p.is-size-6
            strong Support
          p
            a(href="#") Product Help
          p
            a(href="#") Customer Care
          p
            a(href="#") Authorized Service
        .column.is-4-mobile.is-2-tablet
          a.has-text-info(href)
            span.icon.mr-2
              i.fab.fa-twitter
          a.has-text-link(href)
            span.icon.mr-2
              i.fab.fa-facebook
          a.has-text-link-dark(href)
            span.icon.mr-2
              i.fab.fa-instagram
              |  
          a.has-text-info-dark(href)
            span.icon.mr-2
              i.fab.fa-google
              |  
      .content.has-text-centered.is-size-7.pt-6
        p.
          
          FootVille © by Seye Alexander. E-commerce store with fully featured API using NODE.Js. 2021.
          
        p
          a.is-size-6.has-text-primary-dark.title(href="https://github.com/SeyeAlexander", target="_blank")
            | Seye Alexander 
            span.icon.ml-2
              i.fab.fa-github
              |  