.nav-wrapper.pr-6.pl-5.pt-5.is-flex.is-justify-content-space-between
  .nav-brand.has-text-dark
    a.nav-item.is-flex(href="index.html")
      img(src="https://img.icons8.com/color/48/000000/nike.png")
      span.is-size-3.pl-2 footville
  .nav-links.is-hidden-mobile
    a.nav-link.mr-5.current(href="#heading") Featured
    a.nav-link.mr-5(href="shop.html") Shop
    a.nav-link.mr-5(href="women.html") Women
    //  <a href="product.html" class="nav-link mr-5">New</a> 
    a.nav-link.mr-5(href="signup.html") Signup
    a.nav-link.mr-5(href="login.html") Login
    a
      i.fas.fa-shopping-bag
      
// Breadcrumb
.section.pt-6.pb-0
  nav.breadcrumb.has-arrow-separator
    ul.container.is-size-7
      li
        a.has-text-primary(href="#heading") Featured
      li
        a.has-text-primary(href="shop.html") All
      li.is-active
        a.has-text-grey Yeezy, Sply 350