extends base

include _nav

block append head
  link(rel="stylesheet", href="/css/auth.css")
  script(defer, src="/js/auth.js")

block content
  //  Navigation 
  +nav('Login')

  // LoginForm
  .section
    .container
      .is-flex.is-justify-content-center.is-align-items-center
        form.form
          h1.title.is-size-5.pb-4 Login
          .f-group
            input#email.f-input(type="text", placeholder=" ")
            label.f-label Email
          .f-group
            input#password.f-input(type="password", placeholder=" ")
            label.f-label Password
          input.f-button(type="submit", value="Log In")