extends base

include _nav

block append head 
  link(rel="stylesheet", href="/css/auth.css")
  script(defer, src="/js/auth.js")

block content
  //  Navigation 
  +nav('Signup')

  // SignupForm
  .section
    .container
      .is-flex.is-justify-content-center.is-align-items-center
        form.sform
          h1.title.is-size-5.pb-4 Signup
          .f-group
            input#fullname.f-input(type="text", placeholder=" ")
            label.f-label Name
          .f-group
            input#username.f-input(type="text", placeholder=" ")
            label.f-label Username
          .f-group
            input#email.f-input(type="text", placeholder=" ")
            label.f-label Email
          .f-group
            input#shipping.f-input(type="text", placeholder=" ")
            label.f-label Shipping Address
          .f-group
            input#postal.f-input(type="number", placeholder=" ")
            label.f-label Postal Code
          .f-group
            input#pass.f-input(type="password", placeholder=" ")
            label.f-label Password
          .f-group
            input#confirm.f-input(type="password", placeholder=" ")
            label.f-label Please Confirm your password 
          input.f-button(type="submit", value="Signup")