title FootVille
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/css/signup.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css")
link(rel="icon", href="https://img.icons8.com/color/48/000000/nike.png")
link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css", integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p", crossorigin="anonymous")
script(defer, src="/js/index.js")

.wrapper
  //  Navigation 
  .nav-wrapper.pr-6.pl-5.pt-5.is-flex.is-justify-content-space-between
    .nav-brand
      a.nav-item.is-flex(href="/")
        img.is-hidden-tablet(src="https://img.icons8.com/color/48/000000/nike.png", width="25%")
        img.is-hidden-mobile(src="https://img.icons8.com/color/48/000000/nike.png")
        span.is-size-3.pl-2 footville
    .nav-links.is-hidden-mobile
      a.nav-link.mr-5(href="/") Featured
      a.nav-link.mr-5(href="/shop") Shop
      a.nav-link.mr-5(href="/women") Women
      a.nav-link.mr-5.current(href="#signup") Signup
      a.nav-link.mr-5(href="/login") Login
      a
        i.fas.fa-shopping-bag

  // Breadcrumb
  .section.pt-2.pb-0
    nav.breadcrumb.has-arrow-separator
      ul.container.is-size-7
        li
          a.has-text-primary(href="/") Home
        li.is-active
          a.has-text-grey Signup

  // SignupForm
  .section
    .container
      .columns.is-centered
        .column.is-4
          .card.px-1(style="border-radius: 10px")
            .card-content
              .pb-4.pt-2
                p
                  strong.is-size-5 Signup
                p.has-text-grey.pb-2 Get an account. Stack up the latest kickcs.
              form#signup.pb-2
                .field.pb-2
                  .control.has-icons-left
                    input.input(type="text", placeholder="Full name")
                    span.icon.is-small.is-left.py-4
                      i.fas.fa-user
                .field.pb-2
                  .control.has-icons-left
                    input.input(type="text", placeholder="Username")
                    span.icon.is-small.is-left.py-4
                      i.fas.fa-user
                .field.pb-2
                  .control.has-icons-left
                    input.input(type="email", placeholder="Email address")
                    span.icon.is-small.is-left.py-4
                      i.fas.fa-envelope
                .field.pb-3
                  .control.has-icons-left
                    input.input(type="password", placeholder="Enter password")
                    span.icon.is-small.is-left.py-4
                      i.fas.fa-lock
                .has-text-centered.pb-4
                  button.button.is-link Create Account
              .has-text-centered.pb-2
                p.pb-2.is-size-7
                  | Already have an account?

                  a.has-text-info(href="/login") Sign in here.
  