@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap");

.wrapper {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.wrapper .nav-item {
  font-family: "Montez", cursive;
  color: black;
}

.nav-links a {
  /* margin-right: 30px; */
  color: black;
  text-decoration: none;
  font-size: 0.84em;
  font-weight: 500;
  transition: 0.1s ease;
  transition-delay: 0.2s;
  position: relative;
}

.nav-links .current::before {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 50%;
  width: 4.5px;
  height: 4.5px;
  background-color: #f4511e;
  border-radius: 50%;
}

.wrapper .nav-wrapper {
  border-bottom: 1px transparent;
  box-shadow: 0 0 15px rgba(44, 130, 206, 0.2);
}

/*===== FORM =====*/
.form {
  width: 360px;
  padding: 4rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 5px 10px rgba(92, 99, 105, 0.2);
}

.sform {
  width: 500px;
  padding: 4rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 5px 10px rgba(92, 99, 105, 0.2);
}

.f-group {
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}

.f-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid #dadce0;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.f-label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: #80868b;
  font-size: 1rem;
  transition: 0.3s;
}

/*Input focus move up label*/
.f-input:focus + .f-label {
  top: -0.5rem;
  left: 0.8rem;
  color: #3273dc;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.f-input:not(:placeholder-shown).f-input:not(:focus) + .f-label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.f-input:focus {
  border: 1.5px solid #3273dc;
}

.f-button {
  display: block;
  margin-left: auto;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: #3273dc;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.f-button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
