@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap");

.wrapper {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.wrapper .nav-item {
  font-family: "Montez", cursive;
  color: black;
}

.nav-links a {
  /* margin-right: 30px; */
  color: black;
  text-decoration: none;
  font-size: 0.84em;
  font-weight: 500;
  transition: 0.1s ease;
  transition-delay: 0.2s;
  position: relative;
}

.nav-links .current::before {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 50%;
  width: 4.5px;
  height: 4.5px;
  background-color: #f4511e;
  border-radius: 50%;
}

.wrapper .nav-wrapper {
  border-bottom: 1px transparent;
  box-shadow: 0 0 15px rgba(44, 130, 206, 0.2);
}

.error {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

.footer #link a {
  color: #576061;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 500;
}
