@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap");

.wrapper {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.wrapper .nav-item {
  font-family: "Montez", cursive;
  color: black;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 0.84em;
  font-weight: 500;
  transition: 0.1s ease;
  transition-delay: 0.2s;
  position: relative;
}

.nav-links .current::before {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 45%;
  width: 4.5px;
  height: 4.5px;
  background-color: #f4511e;
  border-radius: 50%;
}

.wrapper .nav-wrapper {
  border-bottom: 1px transparent;
  box-shadow: 0 0 25px rgba(44, 130, 206, 0.2);
}

#pick p {
  font-size: 0.83em;
  font-weight: 510;
}

#pick #Qty {
  border-radius: 5px;
}

#pick #size {
  border-radius: 3px;
}
